*, *:after, *:before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

html, body{
	height: 100%;
	width: 100%;
	padding-top: 25px;
}

 h1.heading{
 	font-size: 65px;
 	font-weight: bold;
 }

section.blue-bg{
	background-color: #0094C6;
}

body{
	line-height: 1.5em;
	overflow-x: hidden;
}

#portfolio
.portfolio-item 
.portfolio-caption h4 {


}

.img-centered {
	margin: 0 auto;
}

.carousel-caption{
	margin-bottom: 350px;
}

.carousel-caption h1{
	font-size: 55px;
	font-weight: bold;

}

.slider-subhead{
	font-style: 20px;
}

.subhead{
	padding-top: 20px;
	font-size: 18px;
	line-height: 30px;
}


.section-title h1.heading {
    color: #005E7C;
    font-size: 55px;
    font-weight: bold;
}


.parallax {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron{
	opacity: 0.8;
}

.service-box p {
    margin-bottom: 80px;
    font-size: 18px;
	line-height: 30px;
}


hr {
    max-width: 50px;
    border-color: #005E7C;
    border-width: 3px;
}

hr.light{
	border-color: #fff;
}



/*Footer Section*/


footer{
	font-size: 12px;
	/*margin-top: 30px;*/
	padding-bottom: 30px; 
	/*background-color: skyblue;*/
}

footer .social-icon{
    padding-top: 20px;
}

footer .social-icon a{

	padding-top: 0px;
    padding-right: 8px;
    padding-bottom: 25px;
    padding-left: 8px;
    display: inline-block;
}
