*, *:after, *:before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

html, body{
	height: 100%;
	width: 100%;
	/*padding-top: 30px;*/
}

 h1.heading{
 	font-size: 65px;
 	font-weight: bold;
 }

section.blue-bg{
	background-color: skyblue;
	/*padding-bottom: 50px;*/
	/*margin-top: 50px;*/
}

body{
	line-height: 1.5em;
	overflow-x: hidden;
}

section{
	
}

.img-centered {
	margin: 0 auto;
}

.carousel-caption{
	bottom: 300px;
}

.carousel-caption h1{
	font-size: 55px;
	font-weight: bold;

}

.slider-subhead{
	font-style: 20px;
}

.subhead{
	padding-top: 20px;
	font-size: 20px;
	line-height: 30px;
}


.section-title h1.heading {
    color: #4fba7a;
    font-size: 55px;
    font-weight: bold;
}

/*.element-line{
	margin-top: 20px;
}*/

.item_right{
	/*right: -80px;*/
	padding-left: 0px;
	position: relative;
}

.item_left{
	/*left:-80px;*/
	padding-right: 0px;
	position: relative;
}

.media{
	border-top:1px solid #dedede;
	padding-top:25px;
	margin-top:20px;
}

.parallax {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Footer Section*/


footer{
	font-size: 12px;
	/*margin-top: 30px;*/
	padding-bottom: 30px; 
	/*background-color: skyblue;*/
}

footer .social-icon{
    padding-top: 20px;
}

footer .social-icon a{

	padding-top: 0px;
    padding-right: 8px;
    padding-bottom: 25px;
    padding-left: 8px;
    display: inline-block;
}
